* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to top left, #9bafd9, #103783);
  color: #f2f2f2;
  font-family: sans-serif;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

.top h1 {
  font-size: 3rem;
}

#temp-container {
  text-align: center;
}

#temp-container span:first-child {
  font-size: 2.2rem;
  font-weight: 700;
}

#temp-container span {
  font-size: 2rem;
}

img {
  height: 200px;
  width: 200px;
}